html{
    transform: scale(0.80);
}

body{
    background-color:black;
}

#logo {
    width: 50%;
    border: 1px solid grey;
}

h2, h3{
    color: blue;
}

.historyLink:link, .historyLink:visited{
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.historyLink:hover, .historyLink:active {
  background-color: green;
  color: white;
}

input[type=number]{
    width: 150px;
    height: 58px;
    font-size: 30px;
    padding: 14px;
    position: relative;
    top: 30px;
    left: -50px;
}

center{
    font-size: 20pt;
}

div.row{
    border: 1px solid lightgrey;
}

ul{
    font-size: 12pt;
}

.button{
    width: 115px;
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    margin: 10px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 2px #888888;
    position: relative;
    left: 100px;
    top: -55px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button:active, .mysteryButton:active{
  background-color: #3e8e41;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.guessInfo{
    font-size: 20px;
}

.results{
    font-size: 25px;
    color: blue;
}

.mysteryButton{
    width: 100px;
    background-color: blue;
    color: white;
    padding: 4px;
    margin: 10px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 2px #888888;
}

.mysteryButton:hover {
    background-color: mediumblue;
}

#revealNumber{
    font-size: 35px;
    font-weight: bold;
}

.fadeIn{
    opacity: 1;
    animation-name: fadeInOverTime;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOverTime{
    0% {
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

collapsible {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: grey;
}

.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}


/*****************************************************
********* Media Breakpoints **************************
*****************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo {
        width:80%;
    }
    
    .button{
        width: 90px;
        font-size: 18px;
        position: relative;
    }
    
    table{
        transform: scale(0.70);
    }
    
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    #logo {
        width:80%;
    }
    
    
    .button{
        width: 90px;
        font-size: 18px;
        position: relative;
        /left: 250px;
        /top: 5px;
    }
    
    table{
        transform: scale(0.80);
        margin: -15px;
        margin-left: 20px;
    }
    
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #logo {
        width:70%;
    }
     .button{
        width: 90px;
        font-size: 18px;
        position: relative;
        /left: 50px;
        /top: -35px;
    }
    
    table{
        transform: scale(0.80);
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #logo {
        width:60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #logo {
        width:50%;
    }
}
